# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# App password from Bluesky settings, only for `pnpm atproto:publish` and `pnpm atproto:projects`
ATPROTO_APP_PASSWORD=
